
body{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}
canvas{
	background-image: url("Sora.jpg");
	background-size: contain;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 0px;
}

